.introduc_wrapper {
  background-color: #ffe9c5;
  .introduc_content {
    .introduc_left_side {
      .introduc_left_title {
        padding-top: 55px;
        margin-top: 0;
        margin-bottom: 1rem;
        color: #030303;
        font-size: 2.5rem;
        line-height: 1.2;
        font-weight: 600;
        @media screen and (max-width: 599px) {
          font-size: 1.6rem;
        }
      }
      .introduc_left_description {
        margin-top: 0;
        margin-bottom: 3rem;
        font-family: "Red Hat Text", sans-serif;
        font-size: 1.5rem;
        color: #2b2b2b;
        line-height: 1.7;
        font-weight: 400;
        @media screen and (max-width: 599px) {
          font-size: 1.3rem;
        }
      }
      .introduc_left_button {
        padding: 1rem 1.75rem;
        font-size: 1.125rem;
        border-radius: 8rem;
        background-color: #ffc768;
        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        color: #000;
        font-weight: 600;
        margin-bottom: 5rem;

        @media screen and (max-width: 599px) {
          font-size: 1rem;
        }
      }
    }
    .introduc_right_side {
      .img_wrapper {
        width: 300px;
        height: 400px;
        margin-right: auto;
        margin-left: auto;
        background-image: url(../../assets/Introducing.png);
        background-position: 50% 50%;
        background-size: cover;
      }
    }
  }
}
