.footer_wrapper {
  padding: 100px 0;
  background-color: #1b2530;
  // color: #fff;
  .footer_one_wrapper {
    .footer_logo_wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;
      cursor: pointer;
      .header_logo {
        width: 40px;
        height: 35px;
        margin-right: 8px;
        margin-left: 10px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .header_title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #ffa74f;
      }
    }
    div {
      justify-content: flex-end;
      align-items: center;
      .header_nav {
        ul {
          display: flex;
          text-decoration: none;
          list-style: none;
          li {
            a {
              list-style: none;
              text-decoration: none;
              font-weight: 600;
              color: #fff;
              font-size: 20px;
              padding: 10px;
              transition: all 0.3s ease-in-out;
              &:hover {
                color: #ffa74f;
              }
            }
          }
        }
      }
      .header_icon {
        margin-bottom: 0.5em;
        ul {
          display: flex;
          align-items: center;
          text-decoration: none;
          list-style: none;
          li {
            a {
              list-style: none;
              text-decoration: none;
              font-weight: 600;
              color: #fff;
              font-size: 30px;
              padding: 0px 12px;
              transition: all 0.3s ease-in-out;
              &:hover {
                color: #ffc555;
              }
            }
            .discord_button {
              padding: 8px 16px;
              border-radius: 8rem;
              background-color: #ffc768;
              -webkit-transition: color 0.2s ease-in-out,
                background-color 0.2s ease-in-out;
              transition: color 0.2s ease-in-out,
                background-color 0.2s ease-in-out;
              color: #000;
              font-weight: 600;
              font-size: 16px;
              &:hover {
                color: #000000;
              }
            }
          }
        }
      }
    }
  }
  .footer_two_wrapper {
    .footer_two_title {
      h6 {
        margin-top: 0;
        margin-bottom: 0.875rem;
        font-family: "Red Hat Text", sans-serif;
        color: grey;
        font-size: 20px;
        line-height: 1.1;
        font-weight: 600;
      }
    }
    ul {
      li {
        a {
          display: block;
          margin-bottom: 8px;
          color: #000;
          text-decoration: none;
          font-size: 20px;
          line-height: 1.7;
          font-weight: 400;
        }
      }
    }
  }
  .footer_three_wrapper {
    .footer_three_title {
      h6 {
        margin-top: 0;
        margin-bottom: 0.875rem;
        font-family: "Red Hat Text", sans-serif;
        color: grey;
        font-size: 20px;
        line-height: 1.1;
        font-weight: 600;
      }
    }
    ul {
      li {
        a {
          display: block;
          margin-bottom: 8px;
          color: #000;
          text-decoration: none;
          font-size: 20px;
          line-height: 1.7;
          font-weight: 400;
        }
      }
    }
  }

  .footer_four_wrapper {
    .footer_four_title {
      h6 {
        margin-top: 0;
        margin-bottom: 0.875rem;
        font-family: "Red Hat Text", sans-serif;
        color: grey;
        font-size: 20px;
        line-height: 1.1;
        font-weight: 600;
      }
    }
    ul {
      li {
        a {
          display: block;
          margin-bottom: 8px;
          color: #000;
          text-decoration: none;
          font-size: 20px;
          line-height: 1.7;
          font-weight: 400;
          &:hover {
            color: #ffc555;
          }
        }
      }
    }
  }
}
.header_nav {
  ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    li {
      a {
        list-style: none;
        text-decoration: none;
        font-weight: 600;
        color: #ffa74f;
        font-size: 20px;
        padding: 12px;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: #ffc555;
        }
      }
    }
  }
}
