.zapBond_wrapper {
  padding: 100px 0;
  .zapBond_content {
    .zapBond_left_side {
      .zapBond_new {
        border-radius: 8rem;
        background-color: #ffc768;
        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        color: #000;
        font-weight: 600;
        font-size: 0.875rem;
        padding: 0.1rem 0.6rem;
      }
      .zapBond_left_title {
        margin-top: 0;
        margin-bottom: 1rem;
        color: #030303;
        font-size: 2.5rem;
        line-height: 1.1;
        font-weight: 600;
        @media screen and (max-width: 599px) {
          font-size: 1.6rem;
        }
      }
      .zapBond_left_description {
        margin-top: 0;
        font-family: "Red Hat Text", sans-serif;
        font-size: 1.5rem;
        color: #2b2b2b;
        line-height: 1.7;
        font-weight: 400;
        @media screen and (max-width: 599px) {
          font-size: 1.3rem;
        }
      }
      .button_wrapper {
        display: flex;
        align-items: center;
        .zapBond_left_button {
          padding: 1rem 1.75rem;
          font-size: 1.125rem;
          border-radius: 8rem;
          background-color: #ffc768;
          transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
          color: #000;
          font-weight: 600;
          @media screen and (max-width: 599px) {
            font-size: 10px;
          }
        }
        .zapBond_right_button {
          padding: 1rem 1.75rem;
          margin-left: 20px;
          font-size: 1.125rem;
          border-radius: 8rem;
          background-color: #fff;
          transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
          color: #000;
          font-weight: 600;
          span {
            color: #607286;
            margin-left: 8px;
          }
          @media screen and (max-width: 599px) {
            font-size: 10px;
          }
        }
      }
    }
    .zapBond_right_side {
      display: flex;
      justify-content: center;
      align-items: center;
      .img_wrapper {
        width: 400px;
        height: 300px;
        margin-right: auto;
        margin-left: auto;
        background-image: url(../../assets/ZapBond.png);
        background-position: 50% 50%;
        background-size: cover;
      }
    }
  }
}
